<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sportzweb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar">
        <activity
            android:name="com.sportzweb.LoginActivity"
            android:theme="@style/CustomActionBarTheme"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
	<!--<activity android:name="com.sportzweb.LoginActivity"
           android:theme="@style/CustomActionBarTheme"></activity>-->
        
        <activity
            android:name="com.sportzweb.MainActivity"
            android:theme="@style/CustomActionBarTheme"
            android:label="@string/title_activity_main" >
        </activity>
        
        <activity
            android:name="com.sportzweb.RegistrationActivity"
            android:theme="@style/CustomActionBarTheme"
            android:label="@string/title_activity_registration" >
        </activity>
        
        <activity
            android:name="com.sportzweb.MemberSettingActivity"
            android:theme="@style/CustomActionBarTheme"
            android:label="@string/title_activity_member_setting" >
        </activity>
        
        <activity
            android:name="com.sportzweb.GenderSelectionActivity"
            android:theme="@style/CustomActionBarTheme"
            android:label="@string/title_activity_genger_selection" >
        </activity>
        
        <activity
            android:name="com.sportzweb.ProfileInformationActivity"
            android:label="@string/title_activity_profile_information"
            android:theme="@style/CustomActionBarTheme">
        </activity>
        
        <activity android:name="com.sportzweb.BirthDaySettingActivity"
            android:theme="@style/CustomActionBarTheme"></activity>
        
        <activity android:name="com.sportzweb.AddProfilePictureActivity"
            android:label="@string/title_activity_add_photo"
            android:theme="@style/CustomActionBarTheme"></activity> 
        
        <activity android:name="com.sportzweb.NewsFeedActivity"
            android:label="@string/title_activity_news_feed"
            android:theme="@style/CustomActionBarTheme"></activity>
        
        <activity android:name="com.sportzweb.BusinessRegistrationActivity"
            android:label="@string/title_activity_business_profile_registration"
            android:theme="@style/CustomActionBarTheme"></activity>

        <activity android:name="com.sportzweb.BmiCalculatorActivity"
            android:label="@string/title_activity_bmi_calculator"
            android:theme="@style/CustomActionBarTheme"></activity>

        
        <activity android:name="com.sportzweb.BlogActivity"
            android:label="@string/title_activity_bmi_calculator"
            android:theme="@style/CustomActionBarTheme"></activity>
        
        <activity android:name="com.sportzweb.XtreamBanterActivity"
            android:label="@string/title_activity_bmi_calculator"
            android:theme="@style/CustomActionBarTheme"></activity>
        
        <activity android:name="com.sportzweb.XtreamBanterTournamentActivity"
            android:label="@string/title_activity_bmi_calculator"
            android:theme="@style/CustomActionBarTheme"></activity>
        
        <activity android:name="com.sportzweb.CreateBlogActivity"
            android:label="@string/title_activity_create_blog"
            android:theme="@style/CustomActionBarTheme"></activity>
        
        <activity android:name="com.sportzweb.BlogAppActivity"
            android:label="@string/title_activity_blog_app"
            android:theme="@style/CustomActionBarTheme"></activity>
        
        <activity android:name="com.sportzweb.BlogDetailsActivity"
            android:label="@string/title_activity_blog_details"
            android:theme="@style/CustomActionBarTheme"></activity>
        
    </application>

</manifest>
